<h1 style='margin-top:100px'>Pizzeria name: <%= @pizzeria.name %></h1>
<p>Address: <%= @pizzeria.address %></p>
<%= link_to "Tell us about a great pizza you had at #{@pizzeria.name}", new_pizzeria_pizza_path(@pizzeria.id) %>

<h6>Pizzas:</h6>
<ul>
  <% @pizzeria.pizzas.each do |pizza| %>
    <li>
      <h4><%= pizza.name %></h4>
      <p><%= pizza.description %></p>
    </li>
  <% end %>
</ul>
