<h1 style='margin-top:100px'>Pizzeria name: <%= @pizzeria.name %></h1>
<p>Address: <%= @pizzeria.address %></p>

<%= link_to "Tell us about a great pizza you had at #{@pizzeria.name}", new_pizzeria_pizza_path(@pizzeria) %>

<div>
<h2>Great eats from: <%= @pizzeria.name %></h2>
<ul>
<% @pizzeria.pizzas.each do |pizza| %>
<br>
 <li>
    <%= link_to pizza.name, pizza  %>
  </li>
<% end %>
</ul>
</div>
