<h2>Tell us about this pizza you had at <%= @pizzeria.name %></h2>

<%= form_with model:[@pizzeria, @pizza], local: true do |form| %>
  <%= form.hidden_field :pizzeria_id, value: @pizzeria.id %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.submit "Create Pizza" %>

<% end %>

